<section id="section_qui_sommes-nous">
        	{# Titre #}
        	<h2>Qui sommes-nous ?</h2>
        	{# Intro #}
        	<p class="intro">Découvrez ceux qui ont construit et portent ce projet.</p>

        	{# TAB #}
        	<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
			  	{# TAB BAR #}
			  	<div class="mdl-tabs__tab-bar">
			      	<a href="#team-panel" class="mdl-tabs__tab is-active">L'équipe</a>
			      	<a href="#partenaires-panel" class="mdl-tabs__tab">Les partenaires</a>
			  	</div>

			  	{# TAB PANEL : Equipe #}
			  	<div class="mdl-tabs__panel is-active" id="team-panel">
			    	<h3>L'équipe</h3>
			    	<p>5 étudiants de l'<a href="http://www.ece.fr/ecole-ingenieur/">ECE Paris</a>, école d'ingénieurs, se lancent dans l'entreprenariat social.</p>
        			{# Pauline #}
        			<a href="https://www.linkedin.com/in/pauline-druesne-39b3a3119/" target="_blank">
        				<img id="pauline" src="{{asset('img/pauline.png')}}" alt="team"/></a>
        			<div class="mdl-tooltip" data-mdl-for="pauline">Pauline Druesne</div>
        			{# Claire #}
        			<a href="https://www.linkedin.com/in/claire-pasternak-207b04137/" target="_blank">
        				<img id="claire" src="{{asset('img/claire.png')}}" alt="team"/></a>
        			<div class="mdl-tooltip" data-mdl-for="claire">Claire Pasternak</div>
        			{# Caroline #}
        			<a href="https://www.linkedin.com/in/caroline-b%C3%A9guinot-17b616110/" target="_blank">
        				<img id="caroline" src="{{asset('img/caroline.png')}}" alt="team"/></a>
        			<div class="mdl-tooltip" data-mdl-for="caroline">Caroline Béguinot</div>
        			{# Jean #}
        			<a href="https://www.linkedin.com/in/jean-babin-b09454109/" target="_blank">
        				<img id="jean" src="{{asset('img/jean.png')}}" alt="team"/></a>
        			<div class="mdl-tooltip" data-mdl-for="jean">Jean Babin</div>
        			{# Lisa #}
        			<a href="https://www.linkedin.com/in/lisa-vuong-76964aa2/" target="_blank">
        				<img id="lisa" src="{{asset('img/lisa.png')}}" alt="team"/></a>
        			<div class="mdl-tooltip" data-mdl-for="lisa">Lisa Vuong</div>	
			  	</div>

			  	{# TAB PANEL : Partenaires #}
			  	<div class="mdl-tabs__panel" id="partenaires-panel">
			    	<h3>Les partenaires</h3>
			    	<p>Ces associations et entreprises participent activement à l'économie circulaire et au développement de cette plateforme !</p>
					{# Pour la vie #}
					<a target="_blank" href="http://www.pourlavie.org/"><img class="asso_logo" id="pour_la_vie" src="{{asset('img/logo-pour-la-vie.png')}}" alt="pour la vie"/></a> {# logo #}
					<div class="mdl-tooltip" data-mdl-for="pour_la_vie">Pour la vie</div> {# tooltip on hover #}
					{# Chaussettes orphelines #}
					<a target="_blank" href="https://www.marciadecarvalho.fr/l-association-1/"><img id="chaussettes_orphelines" class="asso_logo" src="{{asset('img/logo-chaussettes-orphelines.jpg')}}" alt="chaussettes orphelines"/></a>
					<div class="mdl-tooltip" data-mdl-for="chaussettes_orphelines">Chaussettes Orphelines</div>
					{# Mamie cendrine #}
					<a target="_blank" href="http://www.cendrineetcie.fr/"><img id="mamie_cendrine" class="asso_logo" src="{{asset('img/logo-mamie-cendrine.png')}}" alt="Mamie Cendrine"/></a>
					<div class="mdl-tooltip" data-mdl-for="mamie_cendrine">Mamie Cendrine</div>
			  	</div>
			</div>
        </section>